@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: "Raleway Light";
    src: url(../font/Raleway-Light.woff) format("woff");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: "Raleway Regular";
    src: url(../font/Raleway-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
  }
  @font-face {
    font-family: "Raleway Semibold";
    src: url(../font/Raleway-SemiBold.woff) format("woff");
    font-weight: 400;
    font-style: normal
  }
  @font-face {
    font-family: "Raleway Bold";
    src: url(../font/Raleway-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
  }
.font-semibold {
  font-family: "Raleway Semibold",sans-serif;
}
.font-bold {
  font-family: "Raleway Bold",sans-serif;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: "Raleway Regular", sans-serif;
}

body {
  background: #F6FAFF;
  display: flex;
  flex-direction: column;
  align-items: center
}

.box-container {
  max-width: 700px;
  padding: 38px 50px;
  margin: 64px auto;
  background: #fff;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 3px hsla(0, 0%, 39%, .15);
}
.box-container-picture {
  margin-right: 32px;
}
.box-container-picture > img {
  width: auto;
  height: 200px;
}
.box-container-explainer {
  color: #748598;
}
.box-container-explainer-title {
  color: #333;
  font-size: 32px;
  letter-spacing: .25px;
  margin-bottom: 24px;
}
.paragraph-top {
  margin-top: 12px;
}
.paragraph-bottom {
  margin-bottom: 12px;
}
.contact > a {
  text-decoration: none;
  color: #000;
  opacity: .75;
}

  @media screen and (min-width: 200px) and (max-width: 640px) {
    .box-container {
      flex-direction: column;
      align-items: center;
      padding: 10px 5px;
    }
    .box-container-picture {
      margin-right: 0px;
    }
    .box-container-explainer {
      text-align: center;
    }  
  }